
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="../../client/dashbord" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">YouDelivery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid" id="navbarNav">
      <ul class="navbar-nav nav navbar-nav navbar-right">
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false">Omar camara<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="../../client/profil">Profil</a></li>
      
                <li><a routerLink="../../acceuil">Deconnecter</a></li>
            </ul>
       </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid backgr">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h5 class="text-center couleur-orange">Demande de Livraision</h5>
            </div>
        </div>
    </div><br>

<div class="container mt-4 " style="margin-bottom: 2%;">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
         <div class="col-md-4">
          <div  class="card card-body block j_details" >
            
            <div class="panel panel-default" style="margin-bottom: 2%; background-color: lavender; text-align: center; font-family: 'Courier New', Courier, monospace;">
              <div ><a routerLink="../../client/demande">Demande de Livraision</a></div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 2%; background-color: lavender; text-align: center; font-family: 'Courier New', Courier, monospace;">
              <div class="panel-body"><a routerLink="../../client/historique">Historique</a></div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 2%; background-color:lavender; text-align: center; font-family: 'Courier New', Courier, monospace;" >
              <div class="panel-body"><a routerLink="../../client/suivi">Suivi</a></div>
            </div>
 
          </div>
        </div>
        
        <div class="col-md-8 block" style=" margin-bottom: 28px; ">
          <div  class="card card-body block j_details" style="">
                     <h6 style="text-align: center;">Expediteur</h6>
                    
          <form >
            <div class="row">
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="form-group col-md-2">
                    <label>Nom</label>
                  </div>
                  <div class="form-group col-md-9">
                    <input type="text" required name="user_name"  class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label>Prénom</label>
                  </div>
                  <div class="form-group col-md-9">
                    <input type="text" required name="user_name"  class="form-control form-control-sm">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label>Adresse</label>
                  </div>
                  <div class="form-group col-md-9">
                    <input type="text" required name="user_name"  class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label>Numero</label>
                  </div>
                  <div class="form-group col-md-9">
                    <input type="text" required name="user_name"  class="form-control form-control-sm">
                  </div>
                </div>
              </div>
            </div> 
          </form>
        </div>

       <div  class="card card-body block j_details" style="margin-top: 2%;">
          <h6 style="text-align: center;">Destinataire</h6>
         
      <form >
       <div class="row">
        <div class="form-group col-md-6">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Nom</label>
            </div>
            <div class="form-group col-md-9">
              <input type="text" required name="user_name"  class="form-control form-control-sm">
            </div>
          </div>
          </div>
         <div class="form-group col-md-6">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Prénom</label>
            </div>
            <div class="form-group col-md-9">
              <input type="text" required name="user_name"  class="form-control form-control-sm">
            </div>
          </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col-md-6">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Ville</label>
        </div>
        <div class="form-group col-md-9">
          <select name="ville" required ngModel class="form-control form-control-sm">
            <option value=""> la ville du destinataire</option>
            <option value="casa">Dakar</option>
            <option value="paris">Thies</option>
            <option value="dakar">Diourbel</option>
          </select>
        </div>
      </div>
      </div>
        <div class="form-group col-md-6">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Numéro</label>
            </div>
            <div class="form-group col-md-9">
              <input type="text" required name="user_name"  class="form-control form-control-sm">
            </div>
          </div>
        </div>
       </div> 
       <div class="row">
        <div class="form-group col-md-6">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Adresse</label>
            </div>
            <div class="form-group col-md-9">
              <input type="text" required name="user_name"  class="form-control form-control-sm">
            </div>
          </div>
     </div>
       
      </div> 
      </form>
   </div>
        
   <div  class="card card-body block j_details" style="margin-top: 2%;">
    <h6 style="text-align: center;">Détails</h6>
   
<form >
 <div class="row">
  <div class="form-group col-md-8">
    <div class="row">
      <div class="form-group col-md-4">
        <label>Livraision </label>
      </div>
      <div class="form-group col-md-4">
        <input id="idnormal" type="radio" name="codelivraison" checked="checked" value="normal" onclick="lenormal()">&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Normal</label>
      </div>
      <div class="form-group col-md-4">
        <input id="idsecret" type="radio" name="codelivraison" value="Secret" onclick="lesecret()">&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Express </label>
      </div>
    </div>
   </div>
   <div class="form-group col-md-4">
    
        <select name="ville" required ngModel class="form-control form-control-sm">
          <option value=""> Type de colis</option>
          <option value="casa">Nourriture</option>
          <option value="paris">Document admistratif</option>
          <option value="dakar">Marchandise</option>
        </select>

   </div>
</div>
<div class="row">
   <div class="form-group col-md-6">
    <div class="row">
      <div class="form-group col-md-3">
        <label>Montant</label>
      </div>
      <div class="form-group col-md-9">
        <input type="text" required name="user_name"  class="form-control form-control-sm">
      </div>
    </div>
</div>
  <div class="form-group col-md-6">
    <div class="row">
      <div class="form-group col-md-4">
        <label>Moyen de payemant</label>
      </div>
      <div class="form-group col-md-8">
        <select name="ville" required ngModel class="form-control form-control-sm">
          <option value=""> Orange Money</option>
          <option value="casa">Espece</option>
          <option value="paris">Wari</option>
          
        </select>
      </div>
    </div>
  </div>
 </div> 
 
  <div class="row">
    <div class="form-group col-md-3">
      <label>Commentaire</label>
    </div>
    <div class="form-group col-md-9">
      <textarea required name="user_name"  class="form-control form-control-sm"></textarea>
    </div>
   </div>
   <div class="row">
    <div class="form-group col-md-3">
      <label>Condition générale de l'utilisation</label>
    </div>
    <div class="form-group col-md-9">
      <textarea id="datascontrat"   style="border:1px solid #DCDCDC; color: #0c0c0c; font-size: 12px; width: 410px;height: 172px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">Car Rapide Prestige  effectuera la livraison à l’adresse que vous aurez indiquée au Sénégal dans la limite des destinations possibles. Les livraisons sont effectuées du lundi au Samedi de 7H30 à 21H30. Pour de plus d’informations sur les délais de livraisons, veuillez consulter les particularités des différents types de livraisons sur le site internet www.carrapideprestige.com. Veuillez noter que les délais de livraison sont donnés à titre indicatif et ne doivent donc pas être considérés comme des délais fermes. Le simple dépassement du délai de livraison ne vous donne droit à aucun dommage et intérêt. 
        Car Rapide Prestige se réserve le droit d’effectuer une livraison dans des limites raisonnables, afin que vous obteniez le plus rapidement possible les produits commandés. Aucun frais supplémentaire ne vous sera demandé si nous devons effectuer la livraison en plusieurs fois. Cependant, si vous avez demandé à ce que Car Rapide Prestige effectue les livraisons en plusieurs fois, Car Rapide Prestige se réserve le droit de vous facturer des frais de livraison supplémentaires.
        Si vous choisissez de payer en ligne vous garantissez que vous êtes le titulaire légal du compte en ligne et des fonds qui y sont liés. Vous garantissez également que vous avez les fonds nécessaires pour effectuer le paiement. </textarea>
    </div>
   </div>
   
   <div id="laCasecheck" class="checkbox" >
    <input id="chkTest" type="checkbox"  value="checkbox" >
    <label for="chkTest" id="lechkTest" >
        J'accepte.</label>
    <div class="space">

    </div>
</div>
</form>
</div>
   </div>
       
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>