  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">YouDelivery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid" id="navbarNav">
      <ul class="navbar-nav nav navbar-nav navbar-right">
      </ul>
      <ul  class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false">Omar camara<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a routerLink="../../client/profil">Profil</a></li>
      
                <li><a routerLink="../../acceuil">Deconnecter</a></li>
            </ul>
       </li>
      </ul>
    </div>
  </nav>
   <!-- ======= Services Section ======= -->
   <div class="container-fluid backgr">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1 class="text-left couleur-orange">ESPACE CLIENT</h1>
            </div>
        </div>
    </div>
    <br>
</div>
<br>
   
    <div class="container" >
      
      <div class="row " >
        
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" style="background-color: grey; margin-right: 2%; margin-top: 2%; margin-bottom: 2%;">
          <a routerLink="../../client/profil">
          <div class="box">
            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
            <h4 class="title"><a href="">Mon profil</a></h4>
            <p class="description">Retrouver tout les informations personnelles relatives à votre compte</p>
          </div>
        </a>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" style="background-color: grey; margin-right: 2%; margin-top: 2%; margin-bottom: 2%;">
          <a routerLink="../../client/demande">
          <div class="box">
            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
            <h4 class="title"><a href="">Demande de livraision</a></h4>
            <p class="description">Faite une demande de livraision chez YouDelivery</p>
          </div></a>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" style="background-color: grey; margin-right: 2%; margin-top: 2%; margin-bottom: 2%;">
          <a routerLink="../../client/suivi">
          <div class="box">
            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
            <h4 class="title"><a href="">Suivi des livraisions</a></h4>
            <p class="description">Faite le suivi de votre livraision sur votre espace client</p>
          </div>
        </a>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" style="background-color: grey; margin-right: 2%; margin-top: 2%; margin-bottom: 2%;">
          <a routerLink="../../client/historique">
          <div class="box">
            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
            <h4 class="title"><a href="">Nous contacter</a></h4>
            <p class="description">Catactez nos service client</p>
          </div>
        </a>
        </div>
    
      </div>

    </div>
    <app-footer></app-footer>
